@use '../../styles/variables.sass' as *
@use '../../styles/mixins.sass' as *

.header
  @include flex-container
  justify-content: space-between
  padding: 5px 20px

  &-logo
    &__img
      height: 70px
      max-width: 200px
      object-fit: contain
      @include tablet-version
        height: 47px

  &-nav
    ul
      @include flex-container
      flex-direction: row
      justify-content: flex-end
      list-style: none
      padding: 0
      margin: 0

    a
      text-decoration: none
      color: $text-color
      margin: 0 5px
      font-size: 1rem
      font-weight: 500
      transition: color $transition-duration
      @include mobile-version
        font-size: 0.75rem

      &:hover
        color: $primary-color
        text-decoration: underline

      &.active
        border-bottom: 2px solid $text-color
